:root {
  --main-color-font: #212121;
  --secondary-color-font: #757575;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --accent-color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color-font);
  background-color: var(--main-bg-color);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* ---header--- */

.header-unit {
  border-bottom: 1px solid #ececec;
}

.header-line {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  margin-right: 93px;
}

.logo .accent {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
}

.nav-list .item:not(:last-child) {
  margin-right: 50px;
}

.nav-list .link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding: 32px 0;
}

.nav-list .link:hover,
.nav-list .link:focus {
  color: var(--accent-color);
}

.list-contacts {
  display: flex;

  margin-left: auto;
}

.list-contacts .item:not(:last-child) {
  margin-right: 50px;
}

.list-contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color-font);
}

.list-contacts .link:hover,
.list-contacts .link:focus {
  color: var(--accent-color);
}

/* ---hero--- */

.hero {
  background-color: #2f303a;

  padding: 200px 0;
}

.hero .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.hero-btn {
  display: block;

  margin: 0 auto;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/* ---features--- */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
}

.features-list .item {
  width: calc((100% - 90px) / 4);
}

.features-list .item:not(:last-child) {
  margin-right: 30px;
}

.title-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-list .description {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-color-font);
}

/* ---our-work--- */

.our-work {
  padding-top: 0;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
}

.work-list .item {
  width: calc((100% - 60px) / 3);
}

.work-list .item:not(:last-child) {
  margin-right: 30px;
}

/* ---our team--- */

.our-team {
  background-color: var(--secondary-bg-color);
}

.team-list {
  display: flex;
}

.team-list .item {
  width: calc((100% - 90px) / 4);
  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-description {
  padding: 30px 0;
}

.team-list .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 10px;
}

.team-list .profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-color-font);
}

/* ---footer--- */

.footer-unit {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-logo .accent {
  color: var(--accent-color);
}

.address {
  font-style: normal;
}

.address-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.address-list .contact-link {
  color: rgba(255, 255, 255, 0.6);
}

.address-list .link:hover,
.address-list .link:focus {
  color: var(--accent-color);
}

/* ---portfolio--- */

.portfolio-section {
  padding: 94px 0;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .item:not(:last-child) {
  margin-right: 8px;
}

.filter .btn {
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  cursor: pointer;
}

.filter .btn:hover,
.filter .btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio .item {
  width: calc((100% - 60px) / 3);
  background-color: var(--main-bg-color);
  margin: 0 30px 30px 0;
}

.portfolio .item:nth-child(3n) {
  margin-right: 0;
}

.portfolio .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio .description {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
}

.portfolio .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio .title-description {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-color-font);
}
